<div style="text-align: center">
{% set width = "740" %}
{% set height = "480" %}

    {#
    <div class="fotorama" style="margin-left: auto; margin-right: auto; width:700px"
         data-fit="contain"
         data-nav="thumbs"
         data-width="700"
         data-ratio="700/467"
         data-max-width="700" >
        {% for image in child.media.images %}
        <a href="{{ image.url() }} "></a>
        {% endfor %}
    </div>
    #}

    {% set title = page.title ~ " " ~ page.date | date("d.m.Y") %}

    {% if page.header.link %}
    <h4>
        {% if page.header.continue_link is not sameas(false) %}
        <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
        <a href="{{ page.header.link }}">{{ title }}</a>
    </h4>
    {% else %}
    <h4><a href="{{ page.url }}">{{ title }}</a></h4>
    {% endif %}

    <h2></h2>
    <div style="margin-left: auto; margin-right: auto; width:{{ width }}" >
        <iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height={{ height }}&width={{ width }}&size=medium&setId={{ page.header.flickr }}&trans=1&theme=1&thumbnails=1&transition=0&layoutType=fixed&sort=0&speed=5&click=true' scrolling='no' frameborder='0' width='{{ width }}' height='{{ height }}'></iframe>
    </div>

    {% if page.header.continue_link is sameas(false) %}
    <p>{{ page.content }}</p>
    {% if not truncate %}
    {% set show_prev_next = true %}
    {% endif %}
    {% elseif truncate and page.summary != page.content %}
    <p>{{ page.summary }}</p>
    {# <p><a href="{{ page.url }}">Подробнее...</a></p> #}
    {% elseif truncate %}
    <p>{{ page.content|truncate(550) }}</p>
    {#<p><a href="{{ page.url }}">Подробнее...</a></p> #}
    {% else %}
    <p>{{ page.content }}</p>
    {% set show_prev_next = true %}
    {% endif %}

    {% if show_prev_next %}

        <p class="prev-next">
            {% if not page.isFirst %}
                <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Следующий альбом</a>
            {% endif %}

            {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}">Предудущий альбом <i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </p>
    {% endif %}

</div>
